.App {
  text-align: center;
}

.row {
  justify-content: center;
  margin: 15px 0;
}
.bg {
  /* background-image: url("https://wallpaperaccess.com/full/432474.png"); */
  /* background-color: #262936; */
  background-image: url('images/bg.png');
  width: 100vw;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
}